<%- include('../includes/head-form.ejs') %>
<!-- Sign Up Page -->
<div class="post-job-page__admin">
  <%- include('../includes/navigation.ejs') %>

  <div class="container">
    <div class="front-page"> 
       <!-- Login Page -->
 
        <div class="login-page">
          <% if (errorMessage) { %>
            <div class="error-message__container"> 
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
           <%= errorMessage %>
            </div>
        </div>
            <% } %>
            <div class="login-page-content">
                <div class="login-page-logo logo">
                    <span class="p-1">S</span>
                    <span class="p-2">P</span>
                    <span>Smart</span><span>Path</span>
                </div>
                <form class="sign-up-page-form" action="/signup" method="POST">
                  <input
                  
                    type="text"
                    
                    placeholder="First name"
                    name="firstName" value="<%= oldInput.firstName %>"
                  />
                  <input type="text"  placeholder="Last name" name="lastName" value="<%= oldInput.lastName %>"/>
                  <input type="text"  placeholder="Headline" name="headline" value="<%= oldInput.headline %>"/>
                  <input type="text" placeholder="Phone" name="phone" value="<%= oldInput.phone %>"/>
                  <input 
                  class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                  type="email" placeholder="Email" name="email" value="<%= oldInput.email %>"/>
                  <input type="text" placeholder="Location" name="location" value="<%= oldInput.location %>"/>
                  <input 
                  class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                  type="password" placeholder="Password" name="password" value="<%= oldInput.password %>" />
                  <input 
                  class="<%= validationErrors.find(e => e.param === 'confirmPassword') ? 'invalid' : '' %>"
                  type="password" placeholder="Confirm password" name="confirmPassword" value="<%= oldInput.confirmPassword %>" />
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <button type="submit" class="form-login-btn">Sign up</button>      
 
                </form>
            </div>
        </div>

    </div>
    </div>
        <!-- End of Login Page -->

        <%- include('../includes/end.ejs') %>


</div>
<%- include('../includes/footer.ejs') %> <%- include('../includes/end.ejs') %>
