<%- include('../includes/head-form.ejs') %>
<%- include('../includes/navigation.ejs') %>

<div class="container">
    <div class="front-page"> 
       <!-- Login Page -->
        
        <div class="login-page">
            <% if (errorMessage) { %>
                <div class="error-message__container"> 
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
               <%= errorMessage %>
                </div>
            </div>
                <% } %>
            <div class="login-page-content">
                <div class="login-page-logo logo">
                    <span class="p-1">S</span>
                    <span class="p-2">P</span>
                    <span>Smart</span><span>Path</span>
                </div>
                <form class="login-page-form" action="/reset-password" method="POST">
                    <input type="text" class="form-login-input" name="email" placeholder="Email">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="form-login-btn">Reset Password</button>      


                </form>
            </div>
        </div>

    </div>
    </div>
        <!-- End of Login Page -->

        <%- include('../includes/end.ejs') %>

  