<%- include('../includes/head-admin.ejs') %>
</head>
<body>
    <%- include('../includes/nav-admin.ejs') %>
   <div class="main-container__admin">
    <div class="vertical-menu">
      <a href="/">Home</a>
      <a href="/admin/post-job"class="active">Create Post</a>
      <a href="/admin/posts">Manager Post</a>
      <a href="#">Published</a>
      <a href="#">Edit</a>    
 
    </div>
  </div>
    <div class="main-page-content_admin">


          <div class="edit-post__admin"> 

          <div class="edit-page-format__admin">
            <div class="post-edit-btn__admin">
              <a href="/admin/edit-post/<%= job.id %>?edit=true" method="POST">Edit</a>
              <form action="/admin/delete-job" method="POST"> 
                <input type="hidden" value="<%= job.id %>" name="jobId">
                <button class="btn-admin" type="submit">Delete</button> 
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              </form>
                <form action="/published-cart" method="POST"> 
              <button class="btn-admin" type="submit">Save</button>
              <input type="hidden" value="<%= job.id %>" name="jobId">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>
               
            </div>
            <div class="edit-content-container">
            <span>Job ID: <%= job.id %></span>
          <h1><strong>Title:</strong> <%= job.title %></h1>
          <h2><strong>Description:</strong> <%=  job.description %></h2>
          <h2><strong>Salary:</strong> <%= job.salary %></h2>
          <h2><strong>Contract:</strong> <%= job.contract %> </h2>
          <h2><strong>Location:</strong> <%= job.location %></h2>
          <h2><strong>Job URL:</strong> <%= job.jobUrl %></h2>
        </div>
        </div>

        
        <div class="container-right__admin">
          <h1>Applicants</h1>
          <button type="button" class="collapsible">User</button>
          <div class="content">
    
            <p>Posted on:</p>
            <a href="/admin/edit-post/<%= job.id %>">USer</a>
          </div>
        </div>
        </div>

    
    
 

    
  </div>
   <main>
 

   
 <%- include('../includes/end.ejs') %>


    </main>


