<%- include('../includes/head-admin.ejs') %>
</head>
<body>
    <%- include('../includes/nav-admin.ejs') %>
   <div class="main-container__admin">
    <div class="vertical-menu">
      <a href="/" >Home</a>
      <a href="/admin/post-job">Create Post</a>
      <a href="/admin/posts" class="active">Manager Post</a>
      <a href="/published-cart">Published</a>
      <a href="#">Link 4</a>    
 
    </div>

  </div>
    <div class="main-page-content_admin">
  
    <div class="main-content">
      <% if (jps.length > 0) { %>
        <div class="page-content-left__admin">
          <% for (let job of jps ) { %> 
            
          <div class="posts-left-content__admin">
            <button type="button" class="collapsible"><%= job.title %></button>
            <div class="content">
        
              <p>Posted on:</p>
              <a href="/admin/post/<%= job.id %>"><%= job.id %></a>
            </div>
          </div>
        </a>
          <% } %>
          <% } %>
         
        
          </div>
        
    </div>
  </div>
   <main>
 

   
   <%- include('../includes/end.ejs') %>


    </main>


