<%- include('../includes/head-user.ejs') %>
<!-- Sign Up Page -->
<div class="post-job-page__admin">
  <%- include('../includes/nav-logged-in.ejs') %>
 
  <div class="page-content__user">
                  <!-- Sign Up Page -->
                  <div class="signup-page">                
                       <div class="profile-page-content__user">
                          <% for (let user of users ) { %> 
                            <div class="content-left-images">
                                <img src="">
                                <h1><%= user.firstName + user.lastName %></h1>
                            </div>
                            <div class="user-info">
                              
                              <ul>
                                <li>Email: <%= user.email %></li>
                                <li>Phone: <%= user.phone %></li>
                                <li>Address: <%= user.location %></li>
                              </ul>
                          </div>
                          <% } %>
                        
                          <h2>Update</h2>
                          <div class="updated-file">
                            <button type="submit" class="cv-btn">Update CV</button>
                            <button type="submit" class="cv-btn">Cover Letter</button>
                          </div>
                        </div>
                </div>
                <!-- End of Sign Up Page -->
  </div>  
   
</div>
<%- include('../includes/footer.ejs') %> <%- include('../includes/end.ejs') %>
