<%- include('../includes/head-user.ejs') %>
<!-- Sign Up Page -->
<div class="post-job-page__admin">
  <%- include('../includes/nav-user-profile.ejs') %>
 
  <div class="page-content__user">

    <div class="saved-jobs__user"> 

  <h1>My Jobs</h1>

<div class="nav-toggle">
  <button class="tablink active" onclick="openCity('London', this, 'white')" >Saved</button>
  <button class="tablink" onclick="openCity('Paris', this, 'white')">Applied</button>
  <button class="tablink" onclick="openCity('Tokyo', this, 'white')">Interviews</button>
  <button class="tablink" onclick="openCity('Oslo', this, 'white')">Archived</button>
  
  <div id="London" class="tabcontent">
    <% if (posts.length > 0) { %>
      <% posts.forEach(p => { %>
    <div class="user-interation-jobs"> 
     
    <a href="/admin/job-description/<%= p.id %>?">Review</a>
    <p><strong><%= p.title %></strong></p>
    <p><%= p.contract %></p>
    <p><%= p.salary %></p>
  
    <form action="/user/remove-saved" method="POST"> 
      <input type="hidden" value="<%= p.id %>" name="jobId">
      <button class="btn-admin" type="submit">Remove</button> 
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </form>

  </div>

  <% }) %>
  <% } else { %>
    <h1>No Job Saved!</h1>
  <% } %>
 
  </div>
 


  
  <div id="Paris" class="tabcontent">
    <h1>Paris</h1>
    <p>Paris is the capital of France.</p>
  </div>
  
  <div id="Tokyo" class="tabcontent">
    <h1>Tokyo</h1>
    <p>Tokyo is the capital of Japan.</p>
  </div>
  
  <div id="Oslo" class="tabcontent">
    <h1>Oslo</h1>
    <p>Oslo is the capital of Norway.</p>
  </div>



  
  



</div>


</div>
  </div>  
   
</div>
<%- include('../includes/footer.ejs') %> <%- include('../includes/end.ejs') %>
