<%- include('../includes/head-user.ejs') %>
<%- include('../includes/nav-user-profile.ejs') %>
<!-- Sign Up Page -->
<div class="post-job-page__admin">

  <div class="page-content__user">
                  <!-- Sign Up Page -->
                  <div class="signup-page">                
                       <div class="profile-page-content__user">

                            <div class="content-left-images">
                                <img src="">
                                <h1><%= profile.firstName %></h1>
                            </div>
                            <div class="user-info">
                              
                              <ul>
                                <li>Email:<%= profile.email %></li>
                                <li>Phone: <%= profile.phone %></li>
                                <li>Address: <%= profile.location %></li>
                              </ul>
                          </div>
                         
                        
                          <h2>Update</h2>
                          <div class="updated-file">
                            <form action="/user/user-profile" method="POST" enctype="multipart/form-data">
                              <input type="file" name="uploadCv" id="uploadCv"> 
                            <button name="uploadCv" type="submit" class="cv-btn">Update CV</button>
                            <input type="file" name="uploadCover" id="uploadCv"> 
                            <button name="uploadCover" type="submit" class="cv-btn">Cover Letter</button>
                            <input type="hidden" value="<%= profile.id %>" name="profileId">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          </div>
                        </form>
                        </div>
                </div>
                <!-- End of Sign Up Page -->
  </div>  
   
</div>
<%- include('../includes/footer.ejs') %> <%- include('../includes/end.ejs') %>
