<%- include('../includes/head-user.ejs') %>
<%- include('../includes/navigation.ejs') %>
<!-- Sign Up Page -->
<div class="post-job-page__admin">

  <div class="page-content__user">
                  <!-- Sign Up Page -->
                  <div class="signup-page">                
                       <div class="profile-page-content__user">
                        <% for (let profile of profiles ) { %> 
                            <div class="content-left-images">
                                <img src="">
                                <h1><%= profile.firstName + profile.lastName %></h1>
                            </div>
                            <div class="user-info">
                              
                              <ul>
                                <li>Email:<%= profile.email %></li>
                                <li>Phone: <%= profile.phone %></li>
                                <li>Address: <%= profile.location %></li>
                              </ul>
                          </div>
                         
                        
                          <h2>Update</h2>
                          <div class="updated-file">
                            <button type="submit" class="cv-btn">Update CV</button>
                            <button type="submit" class="cv-btn">Cover Letter</button>
                          </div>
                        </div>
                </div>
                <!-- End of Sign Up Page -->
  </div>  
   
</div>
<%- include('../includes/footer.ejs') %> <%- include('../includes/end.ejs') %>
